<div class="container-fluid" *ngIf="appUsers">
  <p-table [value]="appUsers" [(selection)]="selectedAppUsers" [tableStyle]="{ 'max-width': '150rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Name</th>
        <th>Email</th>
        <th>Is Administrator</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          <p-tableCheckbox [value]="user"></p-tableCheckbox>
        </td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.isAdministrator }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<button
  pButton
  icon="pi pi-save"
  label="Save"
  (click)="saveSelectedAppUsers()"
></button>
