<div class="card">
  <div class="grid p-fluid mb-2">

    <div class="col-5">
      <label for="availableFrom">Available From</label>
      <p-calendar
        name="availableFrom"
        [(ngModel)]="rooms.availableFrom"
        [showIcon]="true"
        [readonlyInput]="true"
        [required]="true"
      ></p-calendar>
    </div>

    <div class="col-5">
      <label for="roomAllocation">Room Allocation</label>
      <p-dropdown
        [options]="roomAllocations"
        [(ngModel)]="rooms.roomAllocation"
        name="roomAllocation"
        optionLabel="name"
        placeholder="Select Room Allocation"
        [required]="true"
      ></p-dropdown>
    </div>

    <div class="col-2">
      <label for="block">Block</label>
      <input
        type="text"
        pInputText
        id="block"
        name="block"
        [(ngModel)]="rooms.block"
        required
      />
    </div>

    <div class="col-5">
      <label for="floor">Floor</label>
      <input
        type="text"
        pInputText
        id="floor"
        name="floor"
        [(ngModel)]="rooms.floor"
        required
      />
    </div>

    <div class="col-5">
      <label for="bedCount">Bed Count</label>
      <p-inputNumber
        [showButtons]="true"
        inputId="bedCount"
        [(ngModel)]="rooms.bedCount"
        [required]="true"
        [min]="1"
        [max]="8"
        placeholder="8 beds max"
      >
      </p-inputNumber>
    </div>

    <div class="col-2">
      <label for="floor">Room Number</label>
      <p-inputNumber
        [showButtons]="true"
        inputId="roomNo"
        [(ngModel)]="rooms.roomNo"
        [required]="true"
      >
      </p-inputNumber>
    </div>

    <div class="col-5">
      <label for="campId">Camp</label>
      <p-dropdown
        [options]="campIds"
        [(ngModel)]="rooms.campId"
        name="campId"
        optionLabel="name"
        placeholder="Select Camp"
        [required]="true"
      ></p-dropdown>
    </div>

    <div class="col-5">
      <label for="roomCategory">Room Category</label>
      <p-dropdown
        [options]="roomCategories"
        [(ngModel)]="rooms.roomCategory"
        name="roomCategory"
        optionLabel="name"
        placeholder="Select Room Category"
        [required]="true"
      ></p-dropdown>
    </div>

    <div class="col-2">
      <label for="roomStatus">Room Status</label>
      <p-dropdown
        [options]="roomStatuses"
        [(ngModel)]="rooms.roomStatus"
        name="roomStatus"
        optionLabel="name"
        placeholder="Select Room Status"
        [required]="true"
      ></p-dropdown>
    </div>

    <div class="col-6">
      <label for="cateringId">Catering</label>
      <p-dropdown
        [options]="cateringIds"
        [(ngModel)]="rooms.cateringId"
        name="cateringId"
        optionLabel="name"
        placeholder="Select Catering"
        [required]="true"
      ></p-dropdown>
    </div>

    <div class="col-6">
      <label for="rateId">Room Rate</label>
      <p-dropdown
        [options]="roomsRateIds"
        [(ngModel)]="rooms.rateId"
        name="rateId"
        optionLabel="name"
        placeholder="Select Room Rate"
        [required]="true"
      ></p-dropdown>
    </div>

    <div class="col-12">
      <label for="description">Description</label>
      <textarea
        id="description"
        name="description"
        pInputTextarea
        [(ngModel)]="rooms.description"
        required
        rows="3"
        cols="20"
      ></textarea>
    </div>

  </div>
  <button
    type="submit"
    style="margin-top: 9rem"
    pButton
    pRipple
    label="Save"
    (click)="save()"
    icon="pi pi-check"
  ></button>
</div>
