<div class="card">
  <p-toast></p-toast>
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-primary mr-2"
        (click)="openNewEmployee()"
      ></button>
      <button
        pButton
        pRipple
        label="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedProducts()"
        [disabled]="!selectedEmployees || !selectedEmployees.length"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        class="mr-2 inline-block"
      ></p-fileUpload>
      <button
        pButton
        pRipple
        label="Export"
        icon="pi pi-upload"
        class="p-button-help"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="employees"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'name',
      'country.name',
      'representative.name',
      'status'
    ]"
    [tableStyle]="{ width: 'auto' }"
    [(selection)]="selectedEmployees"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Products</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name" style="min-width: 15rem">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th>Image</th>
        <th pSortableColumn="price">
          MobileNo <p-sortIcon field="price"></p-sortIcon>
        </th>
        <th pSortableColumn="category" style="min-width: 10rem">
          Category <p-sortIcon field="category"></p-sortIcon>
        </th>
        <th pSortableColumn="email">
          Email <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="qid" style="min-width: 10rem">
          Qid <p-sortIcon field="qid"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
      <tr>
        <td>
          <p-tableCheckbox [value]="employee"></p-tableCheckbox>
        </td>
        <td>{{ employee.name }}</td>
        <td>
          <img
            [src]="
              'https://primefaces.org/cdn/primeng/images/demo/product/' +
              employee.image
            "
            [alt]="employee.name"
            width="50"
            class="shadow-4"
          />
        </td>
        <td>{{ employee.MobileNo }}</td>
        <td>{{ employee.category }}</td>
        <td>
          <p-rating
            [ngModel]="employee.rating"
            [readonly]="false"
            [cancel]="false"
          ></p-rating>
        </td>
        <td>
          <p-tag
            [value]="employee.inventoryStatus"
            [severity]="getSeverity(employee.inventoryStatus)"
          ></p-tag>
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="openEditEmployee(employee)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteEmployee(employee)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ employees ? employees.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>

<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-primary mr-2"
        (click)="openNewEmployee()"
      ></button>
      <button
        pButton
        pRipple
        label="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedProducts()"
        [disabled]="!selectedEmployees || !selectedEmployees.length"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        class="mr-2 inline-block"
      ></p-fileUpload>
      <button
        pButton
        pRipple
        label="Export"
        icon="pi pi-upload"
        class="p-button-help"
      ></button>
    </ng-template>
  </p-toolbar>

<div class="card">
  <p-table
    [value]="employees"
    sortField="representative.name"
    sortMode="single"
    dataKey="representative.name"
    rowGroupMode="subheader"
    groupRowsBy="representative.name"
    [tableStyle]="{ width: 'auto' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 20%">Name</th>
        <th style="width: 20%">Country</th>
        <th style="width: 20%">Company</th>
        <th style="width: 20%">Status</th>
        <th style="width: 20%">Date</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="groupheader"
      let-customer
      let-rowIndex="rowIndex"
      let-expanded="expanded"
    >
      <tr>
        <td colspan="5">
          <button
            type="button"
            pButton
            pRipple
            [pRowToggler]="customer"
            class="p-button-text p-button-rounded p-button-plain mr-2"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></button>
          <img
            [alt]="customer.representative.name"
            src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{
              customer.representative.image
            }}"
            width="32"
            style="vertical-align: middle"
          />
          <span class="font-bold ml-2">{{ customer.representative.name }}</span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="groupfooter" let-customer>
      <tr class="p-rowgroup-footer">
        <td colspan="4" style="text-align: right">Total Customers</td>
        <td>{{ calculateCustomerTotal(customer.representative.name) }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-customer>
      <tr>
        <td>
          {{ customer.name }}
        </td>
        <td>
          <img
            src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
            [class]="'flag flag-' + customer.country.code"
            style="width: 20px"
          />
          <span class="ml-1 vertical-align-middle">{{
            customer.country.name
          }}</span>
        </td>
        <td>
          {{ customer.company }}
        </td>
        <!-- <td>
          <p-tag
            [value]="customer.status"
            [severity]="getCustomerSeverity(customer.status)"
          ></p-tag>
        </td> -->
        <td>
          {{ customer.date }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
