<div class="card">
  <p-toast></p-toast>
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-primary mr-2"
        (click)="openNewRoom()"
      ></button>
      <button
        pButton
        pRipple
        label="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedRooms()"
        [disabled]="!selectedRooms || !selectedRooms.length"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        class="mr-2 inline-block"
      ></p-fileUpload>
      <button
        pButton
        pRipple
        label="Export"
        icon="pi pi-upload"
        class="p-button-help"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="rooms"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'name',
      'country.name',
      'representative.name',
      'status'
    ]"
    [tableStyle]="{ width: 'auto' }"
    [(selection)]="selectedRooms"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Rooms</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="roomNo" style="min-width: 15rem">
          Room Number <p-sortIcon field="roomNo"></p-sortIcon>
        </th>
        <th pSortableColumn="campId">
          Camp <p-sortIcon field="campId"></p-sortIcon>
        </th>
        <th pSortableColumn="block" style="min-width: 10rem">
          Block <p-sortIcon field="block"></p-sortIcon>
        </th>
        <th pSortableColumn="floor">
          Floor <p-sortIcon field="floor"></p-sortIcon>
        </th>
        <th pSortableColumn="roomCategory" style="min-width: 10rem">
          Category <p-sortIcon field="roomCategory"></p-sortIcon>
        </th>
        <th pSortableColumn="bedCount" style="min-width: 10rem">
          Bed Count <p-sortIcon field="bedCount"></p-sortIcon>
        </th>
        <th pSortableColumn="rateId" style="min-width: 10rem">
          Rate <p-sortIcon field="rateId"></p-sortIcon>
        </th>
        <th pSortableColumn="roomAllocation" style="min-width: 10rem">
          Allocation <p-sortIcon field="roomAllocation"></p-sortIcon>
        </th>
        <th pSortableColumn="cateringId" style="min-width: 10rem">
          Catering <p-sortIcon field="cateringId"></p-sortIcon>
        </th>
        <th pSortableColumn="availableFrom" style="min-width: 10rem">
          Available From <p-sortIcon field="availableFrom"></p-sortIcon>
        </th>
        <th pSortableColumn="description" style="min-width: 10rem">
          Description <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th pSortableColumn="roomStatus" style="min-width: 10rem">
          Status <p-sortIcon field="roomStatus"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-room>
      <tr>
        <td>
          <p-tableCheckbox [value]="room"></p-tableCheckbox>
        </td>
        <td>{{ room.roomNo}}</td>
        <td>{{ room.campId }}</td>
        <td>{{ room.block }}</td>
        <td>{{ room.floor }}</td>
        <td>{{ room.roomCategory }}</td>
        <td>{{ room.bedCount }}</td>
        <td>{{ room.rateId }}</td>
        <td>{{ room.roomAllocation }}</td>
        <td>{{ room.cateringId }}</td>
        <td>{{ room.availableFrom }}</td>
        <td>{{ room.description }}</td>
        <td>
          <p-tag
            [value]="room.roomStatus"
            [severity]="getSeverity(room.roomStatus)"
          ></p-tag>
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="openEditRoom(room)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteRoom(room.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ rooms ? rooms.length : 0 }} rooms.
      </div>
    </ng-template>
  </p-table>
</div>

<!-- <div class="card">
  <p-toast></p-toast>
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-primary mr-2"
        (click)="openNewEmployee()"
      ></button>
      <button
        pButton
        pRipple
        label="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedProducts()"
        [disabled]="!selectedEmployees || !selectedEmployees.length"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        class="mr-2 inline-block"
      ></p-fileUpload>
      <button
        pButton
        pRipple
        label="Export"
        icon="pi pi-upload"
        class="p-button-help"
      ></button>
    </ng-template>
  </p-toolbar>
  <p-table
    [value]="employees"
    sortField="representative.name"
    sortMode="single"
    dataKey="representative.name"
    rowGroupMode="subheader"
    groupRowsBy="representative.name"
    [tableStyle]="{ width: 'auto' }"
  >
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <h5 class="m-0">Manage Employees</h5>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Search..."
        />
      </span>
    </div>
  </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4%">Name</th>
        <th style="width: 4%">Country</th>
        <th style="width: 4%">Religion</th>
        <th style="width: 4%">Badge Number</th>
        <th style="width: 4%">Project</th>
        <th style="width: 4%">Meal Type</th>
        <th style="width: 4%">Work Location</th>
        <th style="width: 4%">Milk Card</th>
        <th style="width: 4%">Qid</th>
        <th style="width: 4%">Email</th>
        <th style="width: 4%">Employee Active</th>
        <th style="width: 4%">Inactive Reason</th>
        <th style="width: 4%">Meal Category</th>
        <th style="width: 4%">Mess Entitlment</th>
        <th style="width: 4%">isCCC</th>
        <th style="width: 4%">Band</th>
        <th style="width: 4%">Eqv Band</th>
        <th style="width: 4%">Contract Base</th>
        <th style="width: 4%">Category</th>
        <th style="width: 4%">Nationality</th>
        <th style="width: 4%">Department</th>
        <th style="width: 4%">Job Title</th>
        <th style="width: 4%">Company</th>
        <th style="width: 4%">Status</th>
        <th style="width: 4%">Date</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="groupheader"
      let-customer
      let-rowIndex="rowIndex"
      let-expanded="expanded"
    >
      <tr>
        <td colspan="5">
          <button
            type="button"
            pButton
            pRipple
            [pRowToggler]="customer"
            class="p-button-text p-button-rounded p-button-plain mr-2"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></button>
          <img
            [alt]="customer.representative.name"
            src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{
              customer.representative.image
            }}"
            width="32"
            style="vertical-align: middle"
          />
          <span class="font-bold ml-2">{{ customer.representative.name }}</span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="groupfooter" let-customer>
      <tr class="p-rowgroup-footer">
        <td colspan="4" style="text-align: right">Total Customers</td>
        <td>{{ calculateCustomerTotal(customer.representative.name) }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-customer>
      <tr>
        <td>
          {{ customer.name }}
        </td>
        <td>
          <img
            src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
            [class]="'flag flag-' + customer.country.code"
            style="width: 20px"
          />
          <span class="ml-1 vertical-align-middle">{{
            customer.country.name
          }}</span>
        </td>
        <td>
          {{ customer.company }}
        </td>
        <td>
          {{ customer.date }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div> -->
