:host ::ng-deep {
    .p-pt-4 {
        padding-top: 0.5rem !important;
    }

    .p-col-1,
    .p-col-2,
    .p-col-3,
    .p-col-4,
    .p-col-5,
    .p-col-6,
    .p-col-7,
    .p-col-8,
    .p-col-9,
    .p-col-10,
    .p-col-11,
    .p-col-12 {
        padding: 0.2rem !important;
    }

    .searchBox {
        margin-top: 0.3rem !important;
    }
}
